/* CUSTOM STYLES */
.component-container {
  text-align: left;
}
.component-inner-container {
  width: 100%;
}
.component-status {
  float: right;
}
.tool.icon-indicator {
  display: none;
}

small, .small {
  color: #666;
}

.layout-content.status.status-index .components-section .component-container .name {
  max-width: 100%;
}
.layout-content.status.status-index .components-section .component-container .component-status {
  font-size: 100%
}
.layout-content.status.status-index .components-section .component-container,
.layout-content.status.status-index .components-section .component-container.is-group {
  padding: .75rem;
}

button.component-container:focus {
  outline: none;
  border: 1px solid #006298 !important;
}
.activate-page-prompt {
  background-color: #ffeecd;
  color: #584416;
  text-shadow: none;
}
.activate-page-prompt a {
  color: #006298;
}
.layout-content.status.status-index .unresolved-incidents .unresolved-incident 	.incident-title a:focus {
  outline: .125rem solid #ffffff;
  outline-offset: .125rem;
}

#subscribe-all {
  right: 2em;
}

.updates-dropdown-container .updates-dropdown {
  right: 0;
}

.updates-dropdown-container .show-updates-dropdown:after {
    content: 'Subscribe';
}